/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-color: var(--background-color);
  color: var(--main-text-color);
  background-image: var(--background-image);
  background-size: cover;
  inline-size: var(--inline-size);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  font-family: var(--accent-font, fantasy);
  block-size: clamp(20.188rem, 3.661vw + 19.455rem, 22.75rem);
  margin-block: 102px 104px;
  text-transform: uppercase;
  border: 2px solid var(--main-text-color);
  background-color: var(--background-color);
  

}

.header__title {
  font-size: clamp(3.063rem, 4.984vw + 1.894rem, 4.063rem);
   
}

.header__subtitile {
  font-size: var(--main-font-size);
   

}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;

}

.theme-menu__item {
  

}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  border: none;
  background: none;

}

.theme-menu__button:disabled::before,
.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 1px;
  left: -15px;

}

.content {
  margin: 0 auto;
  inline-size: clamp(320px, 100vw, 696px);

}

.card {

}

.card__list {

}

.card__list-item {

}

.card__title {

}

.card__image-wrapper {
  position: relative;

}

.card__image {
  

}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.688rem, 3.723vw - 0.057rem, 1.563rem);
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  mix-blend-mode: hard-light;
  opacity: .5;
  text-shadow: 
    -1px -1px 0 var(--background-color),
    1px -1px 0 var(--background-color),
    -1px 1px 0 var(--background-color),
    1px 1px 0 var(--background-color);

}

.card__description {

}

.card__text {

}

.card__button {

}

.heart__button {

}

.like__button {

}