/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: var(--accent-color);
  font-family: var(--main-font), Arial, sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight);
  inline-size: var(--inline-size);
}

/* header and button styles */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  margin-inline: auto;
  margin-block: 102px 104px;
  border: var(--page-border);
  padding-inline: clamp(0.875rem, 32.615vw - 6.769rem, 7.5rem);
  padding-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  padding-block-end: 19px;
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  background-color: var(--background-color);
  max-inline-size: 700px;
}

.header__logo {
  font-size: clamp(3.063rem, 4.984vw + 1.894rem, 4.063rem);
}

.header__title {
  font-size: clamp(0.875rem, 2.769vw + 0.226rem, 1.438rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline-start: 17px;
}

.button {
  position: relative;
  border: var(--page-border);
  padding: 10px 17px;
  overflow: hidden;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button:focus {
  outline: none;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--animation-button-text-color);
  mix-blend-mode: difference;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  background: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:after {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inset-inline-start: 0;
  inset-block-end: -4px;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
} 

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:disabled {
  outline: none;
  opacity: .6;
}

.theme-menu__button:disabled::before,
.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 1px;
  left: -15px;
  animation: disabled-button 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  cursor: pointer;
} 

/* cards container */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}

.card {
  border: var(--page-border);
  background-color: var(--background-color);
}

.card__title {
  padding-inline-start: 10px;
  padding-block: 3px;
  font-size: var(--main-font-size);
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--title-font-weight);
  border-block-end: var(--page-border);
}

.card__image-wrapper {
  position: relative;
  border-block-end: var(--page-border);
}

.card__image {
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
  inline-size: 100%;
  block-size: 100%;
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: .5;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size);
  text-shadow: 
    -1px -1px 0 var(--background-color),
    1px -1px 0 var(--background-color),
    -1px 1px 0 var(--background-color),
    1px 1px 0 var(--background-color);
  inset-block-start: 28px;
  inset-inline-end: 3.5%;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: var(--page-border);
  padding: 27px 25px 25px;
  font-size: var(--main-font-size);
  line-height: 21px;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: none;
  background-color: transparent;
  transition: outline 0.3s ease;
  cursor: pointer;
  block-size: 38px; 
  inline-size: 42px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--page-border);
  outline-offset: -2px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save__button-container {
  display: flex;
  justify-content: center;
  margin-block-end: 105px;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-block: 18px;
  min-inline-size: 335px;
  max-block-size: 51px;  
}

.save-icon {
  z-index: 1;
  color: var(--animation-button-text-color);
  max-inline-size: 21px;
  max-block-size: 21px;
  mix-blend-mode: difference;
}

/* dialog window styles */

.dialog[open] {
  position: fixed;
  bottom: 125px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: var(--page-border);
  background-color: var(--background-color);
  min-inline-size: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
}

.dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog-icon {
  color: var(--accent-color);
  max-block-size: 39px;
  max-inline-size: 39px;
}

.dialog__text {
  max-width: clamp(12.375rem, 3.38vw + 11.583rem, 14.625rem);
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__button {
  text-transform: uppercase;
  min-block-size: 38px;
  inline-size: 100%;
}

/* van-images styles */

.card__image-filter-contrast {
  filter: contrast(33%);
}

.card__image-filter-brightness {
  filter: brightness(60%);
}

.card__image-filter-sepia {
  filter: sepia(62%);
}

.card__image-filter-blur {
  filter: blur(5px);
}

.card__image-filter-invert {
  filter: invert(91%);
}

.card__image-filter-hue-rotate {
  filter: hue-rotate(144deg);
}

.card__image-filter-multiple {
  filter: hue-rotate(170deg) drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8)) blur(1px);
}

/* media styles */

@media (width <= 400px) {
  .save__button {
    flex-direction: column;
    padding-bottom: 14px;
    min-block-size: 86px;
    min-inline-size: 306px;
  }

  .card__title {
    padding: 3.5px 10px 5.5px;
  }

  .card__title:first-of-type {
    white-space: pre-line;
  }

  .card__description {
    padding: 22.5px 28px 25px 25px;
  }

  .save-icon {
    min-inline-size: 28px;
    min-block-size: 28px;
  }

  .dialog[open] {
    top: 140x;
  }
}

