/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-color: var(--background-color);
  color: var(--main-text-color);
  background-image: var(--background-image);
  background-size: cover;
  inline-size: var(--inline-size);
  margin: 0 auto;
  
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 25px;
  font-family: var(--accent-font, monospace);
  block-size: clamp(20.188rem, 3.661vw + 19.455rem, 22.75rem);
  margin-block: 102px 104px;
  text-transform: uppercase;

}

.header__title {
  font-size: 49px;
   
}

.header__subtitile {
  font-size: var(--main-font-size);
   

}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;

}

.theme-menu__item {
  text-transform: uppercase;

}